body
{
  background-color: black;
  color: beige;
  font-family:  'Bacasime Antique', serif;
  font-size: 22px;
}

a
{
  color: rgb(215, 28, 28);
}

.imgn
{
  width: 1080px;
  height: auto;
  border-radius: 900px;
  padding: 5px 15px;
  background-color: rgb(173, 8, 41);
}

.bordes
{
  border-width: 8px;
  border-color: wheat;
  border-style: ridge;
}

div
{
  background-color: rgb(44, 0, 0);
  padding-bottom: 1px;
  padding-top: 15px;
  padding-left: 15px; 
}

hr
{
  margin-top: 40px;
}

input[type="text"]
{
  margin-top: 20px;
}